# --- general python stuff ---

# pycache
*/__pycache__
__pycache__

# venv
venv


# --- project specific stuff ---

# data directories
data
sample_data

# spacy docbin directories
docbins*

# numpy array directories
arrays*

# results directories
results*

# --- personal stuff ---

# vscode settings
.vscode

# custom Mac icons
Icon?
*/Icon?

# ipynb test quite
test.ipynb
*/.ipynb_checkpoints
