# pycache
*/__pycache__
__pycache__

# venv
venv

# data directories
data
sample_data

# spacy doc directories
docbins*

# vscode settings
.vscode

# custom Mac icons
Icon?
*/Icon?

# ipynb test quite
test.ipynb
*/.ipynb_checkpoints
