numpy==1.22.4
pandas==1.4.2
spacy==3.3.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.3.0/
matplotlib==3.5.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
